<!doctype html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>合同管理系统</title>
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="stylesheet" href="../static/css/font.css">
        <link rel="stylesheet" href="../static/css/index.css">
        <link rel="stylesheet" href="../static/css/iconfont.css">
        <script src="../static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="../static/js/mainindex.js"></script>

    </head>
    <body class="index">
        <!-- 顶部开始 -->
        <div class="container">
            <div class="logo">
                <a href="./main.html">合同管理系统</a></div>
            <div class="left_open">
                <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
            </div>

            <ul class="layui-nav right" lay-filter="">
                <li class="layui-nav-item">
                    <a href="javascript:;">{{ username }}</a>
                    <dl class="layui-nav-child">
                        <!-- 二级菜单 -->
                        <dd>
                            <a onclick="xadmin.open('主页','http://127.0.0.1:5000/one_set/{{ username }}')">个人信息</a></dd>
                        <dd>
                            <a href="{{ url_for('logout') }}">退出</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item to-index">
                    &ensp;管理员账户</li>
            </ul>



        </div>
        <!-- 顶部结束 -->
        <!-- 中部开始 -->
        <!-- 左侧菜单开始 -->
        <div class="left-nav">
            <div id="side-nav">
                <ul id="nav">
                    <li>
                        <a href="javascript:;" onclick="xadmin.add_tab('我的桌面','http://127.0.0.1:5000/welcome')">
                            <i class="layui-icon left-nav-li" lay-tips="首页">&#xe68e;</i>
                            <cite>首页</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>

                    </li>

                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="合同管理">&#xe6a2;</i>
                            <cite>合同管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            {% if permission_list['起草合同'] %}
                            <li>
                                <a onclick="xadmin.add_tab('合同起草','http://127.0.0.1:5000/qicao')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>起草合同</cite></a>
                            </li>
                            {% endif %}
                            {% if permission_list['会签合同'] %}
                            <li>
                                <a href="javascript:;">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>会签合同</cite></a>
                                <ul class="sub-menu">
                                    <li>
                                        <a onclick="xadmin.add_tab('待会签合同','http://127.0.0.1:5000/daihuiqian')">
                                            <i class="iconfont">&#xe6a7;</i>
                                            <cite>待会签合同</cite></a>
                                    </li>
                                    <li>
                                        <a onclick="xadmin.add_tab('已会签合同','http://127.0.0.1:5000/yihuiqian')">
                                            <i class="iconfont">&#xe6a7;</i>
                                            <cite>已会签合同</cite></a>
                                    </li>
                                </ul>
                            </li>
                            {% endif %}
                            {% if permission_list['定稿合同'] %}
                            <li>
                                <a href="javascript:;">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>定稿合同</cite></a>
                                <ul class="sub-menu">
                                    <li>
                                        <a onclick="xadmin.add_tab('待定稿合同','http://127.0.0.1:5000/daidinggao')">
                                            <i class="iconfont">&#xe6a7;</i>
                                            <cite>待定稿合同</cite></a>
                                    </li>
                                    <li>
                                        <a onclick="xadmin.add_tab('已定稿合同','http://127.0.0.1:5000/yidinggao')">
                                            <i class="iconfont">&#xe6a7;</i>
                                            <cite>已定稿合同</cite></a>
                                    </li>
                                </ul>
                            </li>
                            {% endif %}
                            {% if permission_list['审批合同'] %}
                            <li>
                                <a href="javascript:;">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>审批合同</cite></a>
                                <ul class="sub-menu">
                                    <li>
                                        <a onclick="xadmin.add_tab('待审批合同','http://127.0.0.1:5000/daishenpi')">
                                            <i class="iconfont">&#xe6a7;</i>
                                            <cite>待审批合同</cite></a>
                                    </li>
                                    <li>
                                        <a onclick="xadmin.add_tab('已审批合同','http://127.0.0.1:5000/yishenpi')">
                                            <i class="iconfont">&#xe6a7;</i>
                                            <cite>已审批合同</cite></a>
                                    </li>
                                </ul>
                            </li>
                            {% endif %}
                            {% if permission_list['签订合同'] %}
                            <li>
                                <a href="javascript:;">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>签订合同</cite></a>
                                <ul class="sub-menu">
                                    <li>
                                        <a onclick="xadmin.add_tab('待签订合同','http://127.0.0.1:5000/daiqianding')">
                                            <i class="iconfont">&#xe6a7;</i>
                                            <cite>待签订合同</cite></a>
                                    </li>
                                    <li>
                                        <a onclick="xadmin.add_tab('已签订合同','http://127.0.0.1:5000/yiqianding')">
                                            <i class="iconfont">&#xe6a7;</i>
                                            <cite>已签订合同</cite></a>
                                    </li>
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                    </li>

                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="查询统计">&#xe6c0;</i>
                            <cite>查询统计</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('合同信息查询','http://127.0.0.1:5000/search-contract')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>合同信息查询</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('合同流程查询','http://127.0.0.1:5000/search-process')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>合同流程查询</cite></a>
                            </li>
                        </ul>


                    </li>

                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="系统设置">&#xe60d;</i>
                            <cite>系统管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            {% if permission_list['分配签订'] %}
                            {% if permission_list['分配审批'] %}
                            {% if permission_list['分配会签'] %}
                            <li>
                                <a onclick="xadmin.add_tab('分配合同','http://127.0.0.1:5000/daifenpei')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>分配合同</cite></a>
                            </li>
                            {% endif %}
                            {% endif %}
                            {% endif %}
                            {% if permission_list['查询角色'] %}
                            <li>
                                <a onclick="xadmin.add_tab('查询角色','http://127.0.0.1:5000/role')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>角色管理</cite></a>
                            </li>
                            {% endif %}
                            {% if permission_list['查询用户'] %}
                            <li>
                                <a onclick="xadmin.add_tab('用户管理','http://127.0.0.1:5000/member-list')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>用户管理</cite></a>
                            </li>
                            {% endif %}
                            {% if permission_list['查询日志'] %}
                            <li>
                                <a onclick="xadmin.add_tab('系统日志','http://127.0.0.1:5000/log')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>日志管理</cite></a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="数据管理">&#xe70c;</i>
                            <cite>数据管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            {% if permission_list['管理合同信息'] %}
                            <li>
                                <a onclick="xadmin.add_tab('合同信息管理','http://127.0.0.1:5000/contract-list')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>合同信息管理</cite></a>
                            </li>
                            {% endif %}
                            {% if permission_list['查询客户'] %}
                            <li>
                                <a onclick="xadmin.add_tab('客户信息管理','http://127.0.0.1:5000/customer-list')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>客户信息管理</cite></a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- <div class="x-slide_left"></div> -->
        <!-- 左侧菜单结束 -->
        <!-- 右侧主体开始 -->
        <div class="page-content">
            <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
                <ul class="layui-tab-title">
                    <li class="home">
                        <i class="layui-icon">&#xe68e;</i>我的桌面</li></ul>
                <div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
                    <dl>
                        <dd data-type="this">关闭当前</dd>
                        <dd data-type="other">关闭其它</dd>
                        <dd data-type="all">关闭全部</dd></dl>
                </div>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <iframe src='welcome.html' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
                    </div>
                </div>
                <div id="tab_show"></div>
            </div>
        </div>
        <div class="page-content-bg"></div>
        <style id="theme_style"></style>
        <!-- 右侧主体结束 -->
        <!-- 中部结束 -->

    </body>
    <script src="../static/js/jquery.min.js"></script>

</html>

<script>
    window.onload=function () {
        xadmin.add_tab('主页','http://127.0.0.1:5000/welcome');
        var click=document.getElementById('new-nav');
        var news=document.getElementById('news');
        click.addEventListener('mousemove',function () {
            news.style.display='block';
        });
        click.addEventListener('mouseout',function () {
            news.style.display='none';
        });

        var gonggao=document.getElementById('gonggao');
        var gonggaos=document.getElementById('gonggaos');
        gonggao.addEventListener('mousemove',function () {
            gonggaos.style.display='block';
        });
        gonggao.addEventListener('mouseout',function () {
            gonggaos.style.display='none';
        });
    }
</script>

